{% extends 'base.html.twig' %}

{% block title %}
    Clade IS Enrollment
{% endblock %}

{% block body %}
    <div class="grid-x grid-padding-x">
        <div class="cell">
            <h1>Enroll to Clade-IS!</h1>
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="cell">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}

